In [1]:
import pandas as pd
journal_entries = pd.read_excel("Vinatics 2020 Journal Entries.xlsx")
journal_entries.head()

,JE number,GL Code,Period,Effective Date,Entry Date,Source,Source_Group,Functional Amount,Preparer ID
0,210000003,60000001,2020-001,2020-01-22,2020-01-22,Invoice,Purchases,-414581.31680,Merrie Beaver
1,210000003,60000112,2020-001,2020-01-22,2020-01-22,Invoice,Purchases,12504.18092,Merrie Beaver
2,210000003,60000112,2020-001,2020-01-22,2020-01-22,Invoice,Purchases,14710.86008,Merrie Beaver
3,210000003,60000112,2020-001,2020-01-22,2020-01-22,Invoice,Purchases,285390.59640,Merrie Beaver
4,210000003,60000112,2020-001,2020-01-22,2020-01-22,Invoice,Purchases,12504.23664,Merrie Beaver

In [2]:
weekend_journal_entries = journal_entries.copy()
weekend_journal_entries['Entry Date'] = pd.to_datetime(weekend_journal_entries['Entry Date'])
weekend_journal_entries['Weekday Number'] = weekend_journal_entries['Entry Date'].dt.dayofweek
weekend_journal_entries.head()

,JE number,GL Code,Period,Effective Date,Entry Date,Source,Source_Group,Functional Amount,Preparer ID,Weekday Number
0,210000003,60000001,2020-001,2020-01-22,2020-01-22,Invoice,Purchases,-414581.31680,Merrie Beaver,2
1,210000003,60000112,2020-001,2020-01-22,2020-01-22,Invoice,Purchases,12504.18092,Merrie Beaver,2
2,210000003,60000112,2020-001,2020-01-22,2020-01-22,Invoice,Purchases,14710.86008,Merrie Beaver,2
3,210000003,60000112,2020-001,2020-01-22,2020-01-22,Invoice,Purchases,285390.59640,Merrie Beaver,2
4,210000003,60000112,2020-001,2020-01-22,2020-01-22,Invoice,Purchases,12504.23664,Merrie Beaver,2

In [3]:
weekend_journal_entries = weekend_journal_entries[weekend_journal_entries['Weekday Number'] > 4]
weekend_journal_entries.head()

,JE number,GL Code,Period,Effective Date,Entry Date,Source,Source_Group,Functional Amount,Preparer ID,Weekday Number
5094,4200001374,20500100,2020-001,2020-01-04,2020-01-04,Balance set-off,Transfers,3.958241e+06,Rocco Hudgins,5
5095,4200001374,20500100,2020-001,2020-01-04,2020-01-04,Balance set-off,Transfers,-3.958241e+06,Rocco Hudgins,5
5096,4200001377,20500100,2020-001,2020-01-04,2020-01-04,Balance set-off,Transfers,-3.958241e+06,Rocco Hudgins,5
5097,4200001377,20500100,2020-001,2020-01-04,2020-01-04,Balance set-off,Transfers,3.958241e+06,Rocco Hudgins,5
5098,4200001380,20500100,2020-001,2020-01-04,2020-01-04,Balance set-off,Transfers,1.393000e+04,Rocco Hudgins,5

In [4]:
journal_entries_all_employees = journal_entries.copy()
journal_entries_all_employees = journal_entries_all_employees.pivot_table(index=['JE number','Preparer ID'])
journal_entries_all_employees = pd.DataFrame(journal_entries_all_employees.to_records())
journal_entries_all_employees.head()

   JE number    Preparer ID  Functional Amount       GL Code
0  210000003  Merrie Beaver       6.236535e-12  5.428595e+07
1  210000006  Merrie Beaver       1.818989e-12  4.666707e+07
2  210000009  Merrie Beaver      -9.473903e-14  4.666707e+07
3  210000012  Merrie Beaver       1.515825e-13  4.666707e+07
4  210000015  Merrie Beaver       1.515825e-13  6.690057e+07

In [5]:
journal_entries_all_employees_count = journal_entries_all_employees['Preparer ID'].value_counts()
journal_entries_all_employees_count

Rocco Hudgins        19366
Juiletta Barnard      9005
Oneida Sipes          8706
Cecil Wilburn         5239
Telma Still           3394
Merrie Beaver         3372
Elouise Kelleher      2881
Berna Kenyon          2445
Audrie Eller          2368
Dee Landry            2015
Ashli Francois        1698
Akiko Mattox          1561
Chia Esquivel         1541
Kacey Bobbitt         1454
Breann Ricker         1054
Frederica Root         978
Victor Victoria        710
Jeanna Breeden         708
Sherrill Brunner       674
Kris Harwood           519
Kenna Parish           513
Treva Vanburen         510
Roseann Mansfield      477
Alpha Calvin           431
Keven Layton           376
Saundra Niles          334
Zulma Eggleston        287
Gala Bonila            280
Lyndsay Grantham       251
Malka Ott              247
Shakita Jose           158
Stefani Dickens         77
Elicia Villareal        70
Shanna Greenberg        66
Guillermina Kay         46
Ivey Mcnutt             43
Talisha Talley          35
Rosina Guest            32
Nestor Salisbury        13
Laggard Vinicius        11
Hedy Chaffin             8
Carolann Stamps          3
Tracee Keating           3
Shawnta Kozlowski        2
Earlene Navarro          2
Yoko Coon                2
Deon Treadwell           2
Codi Padgett             1
Name: Preparer ID, dtype: int64

In [6]:
employee_name = 'Codi Padgett'
journal_entries_by_employee = journal_entries.copy()
journal_entries_by_employee = journal_entries_by_employee[journal_entries_by_employee['Preparer ID'] == employee_name]
journal_entries_by_employee

,JE number,GL Code,Period,Effective Date,Entry Date,Source,Source_Group,Functional Amount,Preparer ID
200236,2400029472,60000500,2020-007,2020-07-03,2020-07-03,Goods receipt,Goods receipts,-3476.928,Codi Padgett
200237,2400029472,140203004,2020-007,2020-07-03,2020-07-03,Goods receipt,Goods receipts,3476.928,Codi Padgett

In [7]:
journal_entries_by_employee['Functional Amount'].max()

3476.928

In [8]:
post_dated_journals = journal_entries.copy()
post_dated_journals = post_dated_journals[['JE number','GL Code','Period','Entry Date','Effective Date','Functional Amount']]
post_dated_journals['Date Difference'] = post_dated_journals['Effective Date'] - post_dated_journals['Entry Date']
post_dated_journals.sort_values(by = ['Date Difference'])

,JE number,GL Code,Period,Entry Date,Effective Date,Functional Amount,Date Difference
10077,4200015887,100220000,2020-001,2020-05-20,2020-01-01,1.167062e+08,-140 days
10082,4200015956,60000002,2020-001,2020-05-20,2020-01-01,3.279121e+05,-140 days
10078,4200015887,100210000,2020-001,2020-05-20,2020-01-01,-1.167062e+08,-140 days
10081,4200015956,60000002,2020-001,2020-05-20,2020-01-01,-3.279121e+05,-140 days
10079,4200015914,80400101,2020-001,2020-05-20,2020-01-02,1.938934e+07,-139 days
10080,4200015914,80400100,2020-001,2020-05-20,2020-01-02,-1.938934e+07,-139 days
158880,4200037352,20100101,2020-006,2020-09-25,2020-06-16,4.145635e+06,-101 days
158879,4200037349,20100101,2020-006,2020-09-25,2020-06-16,-4.144987e+06,-101 days
158878,4200037349,60600000,2020-006,2020-09-25,2020-06-16,4.144987e+06,-101 days
158877,4200037346,80020000,2020-006,2020-09-25,2020-06-16,-6.481908e+02,-101 days
158875,4200037343,20100101,2020-006,2020-09-25,2020-06-16,-6.481908e+02,-101 days
158874,4200037343,80020000,2020-006,2020-09-25,2020-06-16,6.481908e+02,-101 days
158876,4200037346,60600000,2020-006,2020-09-25,2020-06-16,6.481908e+02,-101 days
158881,4200037352,60600000,2020-006,2020-09-25,2020-06-16,-4.145635e+06,-101 days
241892,4200035026,60000000,2020-009,2020-10-13,2020-09-01,5.574229e+02,-42 days
241897,4200035032,20510003,2020-009,2020-10-13,2020-09-01,5.574229e+02,-42 days
241896,4200035032,60000000,2020-009,2020-10-13,2020-09-01,-5.574229e+02,-42 days
102089,4200012332,20510003,2020-004,2020-05-13,2020-04-01,-1.572976e+02,-42 days
102088,4200012332,140204061,2020-004,2020-05-13,2020-04-01,1.572976e+02,-42 days
241893,4200035026,20510003,2020-009,2020-10-13,2020-09-01,-5.574229e+02,-42 days
9966,4200004805,60000000,2020-001,2020-02-12,2020-01-02,1.504997e+02,-41 days
9965,4200004805,20510003,2020-001,2020-02-12,2020-01-02,-1.504997e+02,-41 days
102073,4200012305,20510003,2020-004,2020-05-13,2020-04-03,-5.811596e+01,-40 days
102072,4200012305,140900973,2020-004,2020-05-13,2020-04-03,5.811596e+01,-40 days
241899,4200035035,20510003,2020-009,2020-10-13,2020-09-03,4.418596e+02,-40 days
102087,4200012329,20510003,2020-004,2020-05-13,2020-04-03,-5.282256e+01,-40 days
241894,4200035029,60000000,2020-009,2020-10-13,2020-09-03,4.418596e+02,-40 days
241895,4200035029,20510003,2020-009,2020-10-13,2020-09-03,-4.418596e+02,-40 days
102086,4200012329,140204061,2020-004,2020-05-13,2020-04-03,5.282256e+01,-40 days
241898,4200035035,60000000,2020-009,2020-10-13,2020-09-03,-4.418596e+02,-40 days
...,...,...,...,...,...,...,...
242156,7200008295,60000000,2020-009,2020-08-06,2020-09-05,1.101652e+05,30 days
242155,7200008295,60000000,2020-009,2020-08-06,2020-09-05,7.567127e+04,30 days
242154,7200008292,20500202,2020-009,2020-08-06,2020-09-05,-1.229941e+06,30 days
242153,7200008292,60000000,2020-009,2020-08-06,2020-09-05,-1.472011e+03,30 days
242152,7200008292,60000000,2020-009,2020-08-06,2020-09-05,9.101973e+03,30 days
242151,7200008292,60000000,2020-009,2020-08-06,2020-09-05,5.359985e+03,30 days
242150,7200008292,60000000,2020-009,2020-08-06,2020-09-05,9.963590e+05,30 days
242149,7200008292,60000000,2020-009,2020-08-06,2020-09-05,2.205925e+05,30 days
242165,7200008295,60000000,2020-009,2020-08-06,2020-09-05,8.595585e+04,30 days
242166,7200008295,60000000,2020-009,2020-08-06,2020-09-05,2.173171e+05,30 days
242167,7200008295,60000000,2020-009,2020-08-06,2020-09-05,7.113550e+04,30 days
242168,7200008295,60000000,2020-009,2020-08-06,2020-09-05,9.999963e+04,30 days
242182,7200008295,60000000,2020-009,2020-08-06,2020-09-05,2.546722e+04,30 days
242180,7200008295,60000000,2020-009,2020-08-06,2020-09-05,3.684429e+05,30 days
242179,7200008295,60000000,2020-009,2020-08-06,2020-09-05,6.933797e+04,30 days
242178,7200008295,60000000,2020-009,2020-08-06,2020-09-05,9.508635e+04,30 days
242177,7200008295,60000000,2020-009,2020-08-06,2020-09-05,8.941695e+04,30 days
242176,7200008295,60000000,2020-009,2020-08-06,2020-09-05,8.037359e+04,30 days
242184,7200008295,60000000,2020-009,2020-08-06,2020-09-05,8.416183e+04,30 days
242162,7200008295,60000000,2020-009,2020-08-06,2020-09-05,4.095977e+02,30 days
242175,7200008295,60000000,2020-009,2020-08-06,2020-09-05,2.632157e+04,30 days
242174,7200008295,60000000,2020-009,2020-08-06,2020-09-05,9.594800e+04,30 days
242173,7200008295,60000000,2020-009,2020-08-06,2020-09-05,5.774108e+04,30 days
242172,7200008295,60000000,2020-009,2020-08-06,2020-09-05,1.112787e+05,30 days
242171,7200008295,60000000,2020-009,2020-08-06,2020-09-05,1.133129e+05,30 days
242170,7200008295,60000000,2020-009,2020-08-06,2020-09-05,1.574057e+05,30 days
242169,7200008295,60000000,2020-009,2020-08-06,2020-09-05,9.947001e+04,30 days
243469,8200000930,20500203,2020-009,2020-08-06,2020-09-08,-3.502838e+05,33 days
243467,8200000930,60000004,2020-009,2020-08-06,2020-09-08,1.728067e+05,33 days
243468,8200000930,60000004,2020-009,2020-08-06,2020-09-08,1.774771e+05,33 days